// Element
$--font-path: '~element-ui/lib/theme-chalk/fonts'; //icon font path, required
$--color-primary: red; //theme color

// Colors
$mainGray: #444;
$secondaryGray: #909090;
$mainGreen: #20c063;
